:root {
  --viewport-background-color: hsl(202, 86%, 94%);
  --main-background-color: hsl(0, 0%, 100%);
  --dark-background-color: hsl(202, 55%, 16%);
  --light-font-color: hsl(203, 41%, 72%);
  --white-font-color: hsl(0, 0%, 100%);
  --dark-font-color: hsl(202, 55%, 16%);
  --box-shadow-color: hsl(0, 0%, 50%);
  --field-lime-color: hsl(61, 70%, 52%);
}