/* sheet for customized common controls such as fields and custom inputs, headers etc. */

html {
    box-sizing: content-box;
}

body {
    background-color: var(--viewport-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

* {
    font-family: Plus Jakarta Sans;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

output {
    overflow-wrap: anywhere;
}

input {
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 1rem;
}

input[type="radio"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    height: 0;
    width: 0;
}

.dark-text-item {
    color: var(--dark-font-color);
}

.semi-dark-text-item {
    color: var(--semi-dark-font-color);
}

.light-text-item {
    color: var(--light-font-color);
}

.white-text-items {
    color: var(--white-font-color);
}

.error-text-item {
    color: var(--error-color);
}

.bold-text-item {
    font-weight: bold;
}

.checkmark {
    border: 1.6px solid var(--dark-font-color);
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    align-self: center;
    justify-self: center;
    width: 1rem;
    height: 1rem;
}

.checkmark::after {
    content: "";
    display: none;
}

.field, .option-field{
    border: 1.6px solid var(--dark-font-color);
    border-radius: 0.3rem;
}

.field:hover {
    border-color: var(--field-lime-color);
    background-color: var(--field-lime-color);
}

.highlight-overlay {
    background-color: var(--field-lime-trasparent-color);
}

.clear-all-button {
    background-color: inherit;
    text-decoration: underline;
    cursor: pointer;
    border-width: 0;
    font-size: 1rem;
    justify-self: end;
}

.mortgage-amount-field {
    background-color: var(--viewport-background-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2.8rem minmax(4rem, auto);
    height: 2.8rem;
}

#mortgage-amount-input {
    border-radius: 0 0.3rem 0.3rem 0;
}

.amount-currency-symbol-label {
    border-radius: 0.3rem 0 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mortgage-amount-field:hover .amount-currency-symbol-label {
    color: var(--dark-font-color);
}

.mortgage-term-field {
    background-color: var(--viewport-background-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(4rem, auto) 4rem;
    height: 2.8rem;
}

#mortgage-term-input {
    border-radius: 0.3rem 0 0 0.3rem;
}

.mortgage-term-timeframe-label {
    border-radius: 0 0.3rem 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mortgage-term-field:hover .mortgage-term-timeframe-label {
    color: var(--dark-font-color);
}

.interest-rate-field {
    background-color: var(--viewport-background-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(4rem, auto) 2.8rem;
    height: 2.8rem;
}

#interest-rate-input {
    border-radius: 0.3rem 0 0 0.3rem;
}

.interest-rate-unit-label {
    border-radius: 0 0.3rem 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interest-rate-field:hover .interest-rate-unit-label {
    color: var(--dark-font-color);
}

#repayment-input {
    border: 5px solid var(--dark-background-color);
}

.mortgage-type-field-label {
    align-self: flex-end;
}

.mortgage-type-field {
    border-radius: 0.3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2.8rem minmax(4rem, auto);
    height: 2.8rem;
}

.mortgage-type-field input[type="radio"]:checked ~ .checkmark {
    background-color: var(--field-lime-trasparent-color);
    border: 1.6px solid var(--field-lime-color);
}

.mortgage-type-field:has(input[type="radio"]:checked) {
    background-color: var(--field-lime-trasparent-color);
    border-color: var(--field-lime-color);
}

.mortgage-type-field input[type="radio"]:checked ~ .checkmark::after {
    background-color: var(--field-lime-color);
    display: block;
}

.mortgage-type-field .checkmark::after {
    background-color: var(--dark-font-color);
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    width: 0.75rem;
    height: 0.75rem;
}

.mortgage-type-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mortgage-type-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
}

.calculate-repayments-button {
    background-color: var(--field-lime-color);
    cursor: pointer;
    border-width: 0;
    border-radius: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 2.8rem;
    margin-right: 6rem;
    min-width: fit-content;
}

#mortgage-calculation-result {
    color: var(--field-lime-color);
    font-size: 3.4rem;
    align-self: center;
}

.results-divider {
    background-color: var(--semi-dark-font-color);
    height: 1px;
    margin-top: 1rem;
}

#repay-over-the-term-result {
    align-self: center;
    font-size: 1.5rem;
}

.input-error-label {
    visibility: hidden;
    font-size: 0.8rem;
    grid-row: 3;
    grid-column: 1;
    margin-top: 0.5rem;
}

.input-error-label.invalid-input {
    visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}