body {
    background-color: var(--viewport-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

* {
    font-family: Plus Jakarta Sans;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.dark-text-item {
    color: var(--dark-font-color);
}

.light-text-item {
    color: var(--light-font-color);
}

.bold-text-item {
    font-weight: bold;
}

.input {
    border: none;
    outline: none;
    margin: 1px;
    padding-left: 1rem;
}

.field {
    border: 1px solid var(--dark-font-color);
    border-radius: 0.3rem;
}

.main-grid {
    background-color: var(--main-background-color);
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 1.25rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 65%;
    min-height: 480px;
    width: 50%;
    min-width: 320px;
}

.calculator-grid {
    border-radius: inherit;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 0.5fr;
    row-gap: 1rem;
    height: 100%;
    width: 100%;
}

.calculator-header-grid {
    display: grid;
    grid-auto-flow: column;
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.calculator-name {
    text-align: left;
}

.clear-all-button {
    background-color: inherit;
    text-decoration: underline;
    border-width: 0;
    font-size: 1rem;
    justify-self: end;
}

.mortgage-amount-grid {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-rows: 2.5rem 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mortgage-amount-field {
    border: 1px solid var(--dark-font-color);
    border-radius: 0.3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2.8rem minmax(4rem, auto);
    height: 3rem;
}

.amount-currency-symbol-label {
    background-color: var(--viewport-background-color);
    border-radius: 0.3rem 0 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.term-interest-rate-grid {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-rows: 2.5rem 3rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mortgage-term-label {
    grid-row: 1;
    grid-column: 1;
}

.mortgage-term-field {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(4rem, auto) 4rem;
    grid-row: 2;
    grid-column: 1;
    height: 3rem;
}

.mortgage-term-timeframe-label {
    background-color: var(--viewport-background-color);
    border-radius: 0 0.3rem 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interest-rate-label {
    grid-row: 1;
    grid-column: 2;
}

.interest-rate-field {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(4rem, auto) 2.8rem;
    grid-row: 2;
    grid-column: 2;
    height: 3rem;
}

.interest-rate-unit-label {
    background-color: var(--viewport-background-color);
    border-radius: 0 0.3rem 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-grid {
    height: 100%;
    background-color: var(--dark-background-color);
    border-radius:0rem 1.25rem 1.25rem 4.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complete-form-p {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.attribution {
    margin-top: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }